form{
	display: grid;
	grid-template-columns: 20px 100px;
	gap:5px;
}
button{
	width: 60%;
	grid-column: 1/3;
}
.board{
	margin:10px;
	border: 1px solid grey;
	width: max-content;
}
.row{
	display: flex;
}

.cell{
	width: 20px;
	height: 20px;
}
.blackCell{
	background-color: #000;
}


